<div id="navbar" class="nav-fixed hidden-xs hidden-sm">
                <div class="container">
                  <div class="nav-logo"><a href="index.html"><img src="/img/logo-small-black.png" alt=""></a></div>
                  <nav class="main-nav">
                    <ul>
                      <li><a href="#" data-scroll-nav="0">Home</a>
                        <ul>
                          <li><a href="home-slideshow.html">Slideshow BG<i class="fa fa-external-link"></i></a></li>
                          <li><a href="home-pattern.html">Pattern BG<i class="fa fa-external-link"></i></a></li>
                          <li><a href="home-video.html">Video BG<i class="fa fa-external-link"></i></a></li>
                        </ul>
                      </li>
                      <li><a href="#" data-scroll-nav="1">About</a></li>
                      <li><a href="#" data-scroll-nav="2">Talks</a></li>
                      <li><a href="#" data-scroll-nav="3">Portfolio</a></li>
                      <li><a href="#" data-scroll-nav="4">Blog</a>
                        <ul>
                          <li><a href="blog-sidebar.html">Blog<i class="fa fa-external-link"></i></a></li>
                          <li><a href="blog-post.html">Blog Post<i class="fa fa-external-link"></i></a></li>
                          <li><a href="#">Another level</a>
                            <ul>
                              <li><a href="#">Link #1</a></li>
                              <li><a href="#">Link #2</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#" data-scroll-nav="5">Contact</a></li>
                      <li><a href="shortcodes.html">Shortcodes<i class="fa fa-external-link"></i></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
