      <nav class="st-menu st-effect-2" id="menu-4">
        <div class="st-menu-logo"><img src="/img/logo-big-white.png" alt=""></div>
          <ul>
            <li><a href="#" data-scroll-nav="0">Home</a></li>
            <li><a href="#" data-scroll-nav="1">About us</a></li>
            <li><a href="#" data-scroll-nav="2">Services</a></li>
            <li><a href="#" data-scroll-nav="3">Portfolio</a></li>
            <li><a href="#" data-scroll-nav="4">Blog</a></li>
            <li><a href="#" data-scroll-nav="5">Contact</a></li>
          </ul>
          <ul>
            <li><a href="blog-sidebar.html">Blog Page<i class="fa fa-external-link"></i></a></li>
            <li><a href="blog-post.html">Blog Post<i class="fa fa-external-link"></i></a></li>
            <li><a href="shortcodes.html">Shortcodes<i class="fa fa-external-link"></i></a></li>
          </ul>
      </nav>
