<section class="section about-text">
<div class="container first-section">

  <!-- SECTION HEADER -->
  <div class="section-header">
	<h1>
	  <span>About</span>
	</h1>
	<div class="header-desc">
	  <span>Jan Burkl<br />Solutions Engineer // Software Developer</span>
	</div>
  </div>
  <!-- SECTION HEADER End -->

  <div class="row">
	<div class="col-sm-12 resp-no-gap">
	  <!-- SMALL HEADER CENTERED  -->
	  <h5 class="small-header sh-center">
		<span>Who am I?</span>
	  </h5>
	  <!-- SMALL HEADER CENTERED  End -->
	</div>
  </div>

  <!-- ABOUT US TEXT SECTION  -->
  <div class="row">
	<div class="col-sm-6">
	  <p class="p-big-desc accent-color fadeLeft">"A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."</p>
	  <span>Antoine de Saint-Exupéry</span>
	</div>
	<div class="col-sm-6">
	  <p>Programmer, software developer, trainer, consultant, solutions enginner - my CV in a nutshell. Since 2018 proud to support automotive customers to establish their data strategy.</p>
	  <p>Being a passionate believer in the technical progress as a driver for efficiency, security and comfort.</p>
      <p>Make life and work smarter.</p>
	</div>
  </div>

</div>
</section>
