              <section class="section">
                <div class="container">

                  <!-- SECTION HEADER -->
                  <div class="section-header">
                    <h1>
                      <span>Contact</span>
                    </h1>
                  </div>
                  <!-- SECTION HEADER End -->

                  <div class="row">
                    <div class="col-sm-7 fadeLeft">
                      <h5 class="small-header">
                        <span>Contact me</span>
                      </h5>
              
                      <form id="contact-form" class="form-horizontal" method="post" action="php/send.php">
                   
                          <div id="message-input">
                            <input type="text" name="name" id="name" value="" placeholder="Name" size="22" tabindex="1" aria-required="true" class="requiredField name input-name label-better">
                            <input type="text" name="email" id="email" value="" placeholder="Email" size="22" tabindex="2" aria-required="true" class="requiredField email input-email label-better">
                          </div>
                          <div id="message-textarea">
                              <textarea name="message" id="message" cols="39" rows="6" tabindex="4" class="requiredField label-better" placeholder="Message..."></textarea>
                          </div>
                          <div id="message-submit"><p></p>
                              <div>
                                  <input name="Send" type="submit" id="Send" tabindex="5" value="Send message" class="btn-submit btn">
                              </div>
                          </div>
                      </form>


                    </div>

                    <div class="col-sm-5 fadeRight resp-no-gap">

                      <h5 class="small-header">
                        <span>Get connected</span>
                      </h5>

                      <div class="social-icons">
                          <a href="https://twitter.com/janatzend" class="fa fa-twitter"></a>
                          <a href="https://github.com/janatzend" class="fa fa-github"></a>
                          <a href="https://www.linkedin.com/in/jan-burkl-1269904" class="fa fa-linkedin"></a>
                      </div>

                    </div>
                  </div>

                </div>
              </section>
              <!-- CONTACT SECTION End -->

              <!-- MAP -->
              <section>
                <div id="map" class="fadeIn"></div>
              </section>
              <!-- MAP End -->

            </section>
