<section class="section  section-diff">
<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header">
	<h1>
	  <span>Contact</span>
	</h1>
  </div>
  <!-- SECTION HEADER End -->

  <div class="row">

	<div class="col-sm-5 fadeRight resp-no-gap">

	  <h5 class="small-header">
		<span>Get connected</span>
	  </h5>

	  <div class="social-icons">
		  <a href="https://www.linkedin.com/in/jan-burkl" class="fa fa-linkedin"></a>
		  <a href="https://www.xing.com/profile/Jan_Burkl" class="fa fa-xing"></a>
		  <a href="https://github.com/5square" class="fa fa-github"></a>
	  </div>

	</div>
  </div>

</div>
</section>
