<!-- SERVICES SECTION -->
<section class="section section-diff">
<div class="container">

  <!-- SECTION HEADER -->
  <div class="section-header">
	<h1>
	  <span>Publications</span>
	</h1>
	<div class="header-desc">
	  <span>Not everything written has to be source code.</span>
	</div>
  </div>
  <!-- SECTION HEADER End -->

  <div class="row bottom-gap">

	<div class="col-sm-6">

	  <h5 class="small-header">
		<span>Print</span>
	  </h5>
	  
	  <!-- ACCORDION -->
	  <div class="panel-group fadeRight" id="accordion">
		{% for post in site.posts %}
        {% if post.categories contains 'publication' %}
        {% if post.categories contains 'print' %}
        {% if post.tags contains 'startpage' %}
        <div class="panel panel-default">
		  <div class="panel-heading clearfix">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ post.id | slugify }}">
			  {{ post.title }}
			</a>
		  </div>
		  <div id="collapse-{{ post.id | slugify }}" class="panel-collapse collapse {{ post.collapse }}">
			<div class="panel-body">
			  <p>{{ post.content }}</p>
			  <p>
			  <i>{{ post.author }}</i><br />
			  <small>{{ post.date | date_to_string }}</small><br />
			  {% if post.urlext != nil %}<small><a href="{{ post.urlext }}">{{ post.urlext }}</a></small>{% endif %}
			  {% if post.meta != nil %}<small>{{ post.meta }}</small>{% endif %}
			  </p>
			</div>
		  </div>
		</div>
		{% endif %}
	    {% endif %}
	    {% endif %}
        {% endfor %}
	   </div>
	  <!-- ACCORDION END -->
	  
	</div>

	<div class="col-sm-6">

	  <h5 class="small-header">
		<span>Online</span>
	  </h5>
	
	  <!-- ACCORDION -->
	  <div class="panel-group fadeRight" id="accordion">
		{% for post in site.posts %}
        {% if post.categories contains 'publication' %}
        {% if post.categories contains 'online' %}
        {% if post.tags contains 'startpage' %}
        <div class="panel panel-default">
		  <div class="panel-heading clearfix">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ post.id | slugify }}">
			  {{ post.title }}
			</a>
		  </div>
		  <div id="collapse-{{ post.id | slugify }}" class="panel-collapse collapse {{ post.collapse }}">
			<div class="panel-body">
			  <p>{{ post.content }}</p>
			  <p>
			  <i>{{ post.author }}</i><br />
			  <small>{{ post.date | date_to_string }}</small><br />
			  {% if post.urlext != nil %}<small><a href="{{ post.urlext }}">{{ post.urlext }}</a></small>{% endif %}
			  {% if post.meta != nil %}<small>{{ post.meta }}</small>{% endif %}
			  </p>
			</div>
		  </div>
		</div>
		{% endif %}
	    {% endif %}
	    {% endif %}
        {% endfor %}
	   </div>
	  <!-- ACCORDION END -->

	</div>
  </div>

</div>
</section>
