 <!-- SOFTWARE SECTION -->
 <section id="portfolio-section" class="section">
   <div class="container">

     <!-- SECTION HEADER -->
     <div class="section-header">
       <h1>
         <span>Software</span>
       </h1>
       <div class="header-desc">
         <span>PHP &middot; Java &middot; JavaScript</span>
       </div>
     </div>
     <!-- SECTION HEADER End -->

	  <div class="row">
		<div class="col-sm-6">
		  <p class="p-big-desc accent-color fadeLeft">"Software is<br />eating the world"</p>
		  <span>Marc Andreessen</span>
		</div>
		<div class="col-sm-6">
		  <p>During my daily work - as well as in my leisure time - I implemented and published several software projects, 
          available at <a target="_blank" href="https://github.com/janatzend">github.com/janatzend</a> and <a href="https://bitbucket.com/janatzend">bitbucket.com/janatzend</a></p>
          <p>Please find a selection below.</p>
		</div>
	  </div>

   </div>
 </section>
 <!-- SOFTWARE SECTION End -->

<section id="devices-section" class="section section-bg-attached" style="">
	<div class="container">
	  <div class="row bottom-gap">
		<div class="col-sm-12">
		  <ul class="devices-nav">
			<li><a href=""><i class="fa fa-coffee"></i>Java</a></li>
			<li><a href=""><i class="fa fa-tasks"></i>PHP</a></li>
			<li><a href=""><i class="fa fa-laptop"></i>JavaScript</a></li>
		  </ul>
		</div>
	  </div>
	</div>

	<div class="flexslider devices">
	  <ul class="slides">
		<li>
		  <div class="container">
			<div class="row">
			  <div class="col-sm-4">
				<h2>Zend Server Bamboo</h2><br>

				<!-- ICON BOX -->
				<div class="icon-box">
				  <i class="fa fa-dot-circle-o fadeLeft"></i>
				  <div class="icon-box-content">
					<h5>Deploy PHP Apps in CI</h5>
					<p>Thanks to the plugin PHP apps can be deployed continuously in a standard manner to a Zend Server cluster. Browse the Java-Code at <a target="_blank" href="https://github.com/janatzend">github.com/janatzend</a></p>
				  </div>
				</div>
				<!-- ICON BOX End -->

			  </div>

			  <div class="col-sm-8">
				<img src="/img/bamboo.png" alt="" class="pull-right" style="margin-top: 85px;">
			  </div>
			</div>
		  </div>
		</li>
		<li>
		  <div class="container">
			<div class="row">
			  <div class="col-sm-4">
				<h2>Z-Ray</h2><br>

				<!-- ICON BOX -->
				<div class="icon-box">
				  <i class="fa fa-search fadeLeft"></i>
				  <div class="icon-box-content">
					<h5>Advanced Debugging</h5>
					<p>Z-Ray allows to enhance the debugging experience without leaving the workflow. Z-Ray Extensions for Redis, MariaDB and OPCache can be found at <a target="_blank" href="https://github.com/janatzend">github.com/janatzend</a>  </p>
				  </div>
				</div>
				<!-- ICON BOX End -->

			  </div>

			  <div class="col-sm-8">
				<img src="/img/zray-redis.png" alt="" class="pull-right" style="margin-top: -10px;">
			  </div>
			</div>
		  </div>
		</li>
		<li>
		  <div class="container">
			<div class="row">
			  <div class="col-sm-8">
				<h2>Home Smart Home</h2><br>

				<!-- ICON BOX -->
				<div class="icon-box">
				  <i class="fa fa-home fadeLeft"></i>
				  <div class="icon-box-content">
					<h5>Control your home</h5>
					<p>A collection of tools and custom software (not published yet) that allow me to control the house, but even 
					more interesting: the house is able to control itself. Powered by AngularJS, Ionic, Node Red, Apigility, Mosquitto, OpenHAB and more.</p>
					<p>My talk <a target="_blank" href="http://janatzend.github.io/talks/2015/2015-10%20-%20ZendCon%20-%20Control%20your%20house%20with%20PHP/HomeAutomation.html#/step-1">Control your Home with PHP</a> is a snapshot about this 'long-term' project.</p>
				  </div>
				</div>
				<!-- ICON BOX End -->

			  </div>

			  <div class="col-sm-4">
				<img src="/img/phone.png" alt="" class="pull-right" style="margin-top: -10px;">
			  </div>
			</div>
		  </div>
		</li>
	  </ul>
	</div>
</section>
