              <!-- TALKS SECTION -->
              <section id="portfolio-section" class="section section-diff">
                <div class="container">

                  <!-- SECTION HEADER -->
                  <div class="section-header">
                    <h1>
                      <span>Talks</span>
                    </h1>
                    <div class="header-desc">
                      <span>Conferences &middot; Webinars</span>
                    </div>

                  </div>
                  <!-- SECTION HEADER End -->

                </div>
              </section>
              <!-- TALKS SECTION End -->

              <!-- CONFERENCE SECTION -->
              <section id="story" class="section section-diff section-bg-attached" style="">
                <div class="container">

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- SMALL HEADER CENTERED  -->
                      <h5 class="small-header sh-center">
                        <span>Conferences</span>
                      </h5>
                      <!-- SMALL HEADER CENTERED  End -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="story">
                        <div class="timeline"></div>

                        {% for post in site.posts %}
                        {% if post.categories contains 'conference' %}
                        {% if post.tags contains 'startpage' %}
                        <div class="story-item">
                          <div class="story-item-content fade{{ post.fade | capitalize }}">
                            <div class="story-item-wrap">
                              <div class="line-arrow"></div>
                              <span class="si-year">{{ post.date | date: '%Y-%m' }}</span>
                              {{ post.content }}
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                      </div>  
                    </div>
                  </div>

                </div>
              </section>
              <!-- CONFERENCE SECTION End -->

              <!-- LATEST POSTS SECTION -->
              <section class="section">
                <div class="container">

                  <!-- SECTION HEADER -->
                  <div class="section-header">
                    <h1>
                      <span>Webinars</span>
                    </h1>
                    <div class="header-desc">
                      <span>Speaking to the Cloud.</span>
                    </div>
                  </div>
                  <!-- SECTION HEADER End -->

                  <div class="row bottom-gap">
                    
                    {% for post in site.posts %}
                    {% if post.categories contains 'webinar' %}
                    {% if post.tags contains 'startpage' %}
                    <div class="col-sm-4">

                      <!-- LATEST POST ITEM -->
                      <div class="latest-post-item fadeBottom">
                        <img src="{{ post.thumb }}" alt="">
                        <h4>{{ post.title }}</h4>
                        <span class="post-info">{{ post.date | date_to_string }}</span>
                        <p>{{ post.content }}</p>
                        <!--div class="read-more-btn"><a href="#" class="btn btn-link">Read more</a></div-->
                      </div>
                      <!-- LATEST POST ITEM End -->

                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>

                  <div class="row">
                    <div class="col-sm-12 resp-no-gap">
                      <div class="goto-blog">
                        <a class="btn btn-primary" href="/webinar/">Webinar archive</a>
                      </div>
                    </div>
                  </div>

                </div>
              </section>
              <!-- LATEST POSTS SECTION End -->
