<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include structure/head.html %}

    <body>

    {% include structure/loader.html %}

    <!-- SIDEBAR / RESPONSIVE NAVIGATION -->
    <div id="st-trigger-effects" class="trigger-fixed visible-xs visible-sm">
      <a href="#" data-effect="st-effect-2">Menu<i class="fa fa-bars"></i></a>
    </div>

    <div id="st-container" class="st-container">

    {% include structure/navigation.html %}
    <!-- SIDEBAR / RESPONSIVE NAVIGATION End -->

      <!-- content push wrapper -->
      <div class="st-pusher">  

        <div class="st-content"><!-- this is the wrapper for the content -->
          <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->

            <header data-scroll-index="0">
              <!-- HOME FULLSCREEN -->
              {% include content/home.html %}
              <!-- HOME FULLSCREEN End -->

              <!-- NAVBAR -->
              {% include structure/navbar.html %}
              <!-- NAVBAR End -->
            </header>

            <!-- ABOUT US SECTION CONTAINER -->
            <section id="aboutus" data-scroll-index="1">
              {% include content/about.html %}
            </section>
                  
            <!-- TALKS SECTION CONTAINER -->
            <section data-scroll-index="2">
              {% include content/talks.html %}
            </section>

            <!-- SERVICE SECTION CONTAINER -->
            <section data-scroll-index="3">
            {% include content/publications.html %}
            </section>

            <!-- SOFTWARE SECTION -->
            <section data-scroll-index="4">
              {% include content/software.html %}
            </section>
              
            <!-- CONTACT SECTION CONTAINER -->
            <section data-scroll-index="5">
              {% include content/contact.html %}
            </section>

            {% include structure/footer.html %}

          </div><!-- /st-content-inner -->
        </div><!-- /st-content -->
      </div><!-- /st-pusher -->
    </div><!-- /st-container -->
      
    {% include structure/js.html %}

    </body>
</html>
